.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0.5rem;
  z-index: 1000;
}

.wrapper {
  z-index: 1;
  margin-block: 1.6rem;
  max-width: 47.3rem;

  @media screen and (min-width: 473px) {
    padding-block: 4.3rem;
    border: 1px solid #bdbdbd;
    border-radius: 2.4rem;
    width: 47.3rem;
  }

  input {
    font-size: 1.6rem;
  }

  img {
    width: 14rem;
    height: auto;
    margin-bottom: 1.4rem;
  }

  h1 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-block: 2rem 1.8rem;
    max-width: 33.9rem;
  }

  .login {
    margin-block: 0;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    max-width: 33.9rem;
  }

  h2 {
    font-size: 1.4rem;
    line-height: 1.9rem;
    letter-spacing: -0.035em;
    color: #828282;
    font-weight: 400;
    text-align: center;
    margin-block: 1.8rem;

    a {
      color: #2f80ed;
      cursor: pointer;
    }
  }
}

.icons {
  display: flex;
  justify-content: space-around;
  padding-inline: 5rem;
}
